html
    head
        title= 'Result'
        style
            include style.css
    body
        div#mainLayout
            h1= 'The Number Quiz'
            p= 'Your current score is ' + score + '.'
            p= 'You have completed the Number Quiz, with a score of ' + score + ' out of 4.'
