h1,
h2,
h3,
h4,
h5,
h6 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font: 18px normal;
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0.25em;
    background-size: cover;
    display: table;
    margin: 5px auto 5px auto;
    padding: 3px;
}

h1 {
    font: 22px bold;
    text-align: center;
}

body {
    background-color: white;
    color: #404040;
    font: 11px normal;
    font-family: Georgia, 'Garamond', sans-serif;
}

a {
    color: #A4A400;
}

pre {
    font-family: monospace;
}

blockquote {
    font-style: italic;
    background-color: #FFFFA8;
}

pre {
    font-family: monospace;
    text-align: right;
}

.strike {
    text-decoration: line-through;
}

